.change-log {
  padding: 15px;
  position: absolute;
  right: 30px;
  bottom: 30px;
  left: 30px;

  .change-log-header {
    margin: 10px 0;
    padding: 5px 10px;
    background-color: #e7e6f2;
  }

  .change-log-elements {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }

  .change-log-element {
    margin: 3px 10px;
  }
}