.input-form {
  display: flex;
  padding: 5px;
  background: @white;
  border: 1px solid @white;
  align-items: center;
  transition: all 0.3s ease-out;
  &:focus-within {
    border-color: @purple;
  }

  textarea,
  input {
    display: block;
    width: 100%;
    padding: 0 5px;
    border: none;
    background-color: @white;
    font-size: inherit;
    font-family: inherit;
    resize: none;
    &:focus {
      outline: none;
    }
  }

  .action-button {
    .icon {
      width: 21px;
      margin-top: 2px;
      margin-left: 2px;
      padding: 0;
      background: none;
      border: none;
      .linkstyle();
      &:hover {
        .linkhover();
      }
    }
  }
}
