body {
  margin: 0;
  padding: 0;
  font-family: Oxygen, "Segoe UI", "Helvetica Neue", sans-serif;
  color: #333;
}

.title {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'header header' 'menu content' 'footer footer';
  min-height: 100vh;

  .header {
    grid-area: header;
    height: 60px;
    color: white;
    background-color: black;

    .title {
      display: inline-block;
      margin: 15px 30px;
      font-size: 28px;
    }

    .user-name {
      float: right;
      margin: 20px 30px;
    }
  }

  .menu {
    grid-area: menu;
    padding: 30px;
    border-right: 1px solid #eee;
  }

  .content {
    grid-area: content;
    padding: 30px;
  }

  .footer {
    grid-area: footer;
    height: 30px;
    padding: 15px;
    border-top: 1px solid #eee;
  }
}

@import "./okr";
@import "./orgtree";
@import "./searchForm";
