body {
  margin: 0;
  padding: 0;
}

.container {
  .header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 0;
    z-index: 10000;
    background: white;
    border-bottom: 1px solid #eee;
    box-shadow: 0 1px 5px 0 #eee;
    opacity: .95;
    color: white;
    background-color: black;

    .title {
      display: inline-block;
      margin: 15px 30px;
      font-size: 28px;
    }

    .user-name {
      float: right;
      margin: 20px 30px;
    }
  }

  .content {
    width: 40%;
    max-width: 300px;
    margin-top: 60px;
    padding: 30px;
    background: darkorange;
  }

  .search-form {
    display: flex;
    padding: 5px 10px;
    border: 1px solid #e6e6e6;
    align-items: center;
    &:focus {
      border-color: #7D7ABC;
    }

    .search-input {
      display: block;
      width: 100%;
      height: 24px;
      border: none;
      background-color: #fff;
      font-size: inherit;
      font-family: inherit;
      &:focus {
        outline: none;
      }
    }

    .search-button {
      width: 24px;
      margin-top: 2px;
      margin-left: 2px;
      padding: 0;
      background: none;
      border: none;
      color: #6f5c5d;
      fill: #6f5c5d;
      cursor: pointer;
      &:hover {
        color: #235cbd;
        fill: #235cbd;
        transform: scale(1.2);
      }
    }
  }

  .org-tree {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    .org-tree-item {
      background: darkolivegreen;
      min-height: 60px;
      padding: 10px;
      font-weight: bold;
      color: navajowhite;
      font-size: 20px;
      margin: 5px;

      .org-tree-item-links {
        color: grey;
        font-size: 15px;
        text-align: right;
      }
    }
  }
}

