body {
  margin: 0;
  padding: 0;
  font-family: Oxygen, "Segoe UI", "Helvetica Neue", sans-serif;
  color: #333;
}

h4 {
  font-weight: 400;
}

.title {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 60px 1fr 60px;
  grid-template-areas: 'header header' 'menu content' 'footer footer';
  min-height: 100vh;

  .header {
    height: 60px;
    position: fixed;
    left: 0;
    right: 0;
    grid-area: header;
    color: white;
    background-color: #333;

    .title {
      display: inline-block;
      margin: 15px 30px;
      font-size: 28px;
    }

    .user-name {
      float: right;
      margin: 20px 30px;
    }
  }

  .menu {
    grid-area: menu;
    padding: 30px;
    background: #7d7abc;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .5);

    .input-form {
      margin-bottom: 30px;
    }
  }

  .content {
    grid-area: content;
    padding: 30px;
  }

  .footer {
    grid-area: footer;
    height: 30px;
    padding: 15px;
    border-top: 1px solid #333;
    background: #333;
    color: #fff;
  }
}

@import "./okr";
@import "./orgtree";
@import "./input-form";
@import "./change-log";
