.okr {
  min-width: 230px;
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .title {
    margin: 10px 0 35px;
  }

  .empty-objectives {
    margin: 30px 0;
    font-size: 18px;
    color: #727272;

    .icon {
      width: 21px;
      margin-left: 5px;
      vertical-align: sub;
      border-radius: 50%;
      filter: grayscale(.8);
      cursor: pointer;
      transition: all 0.5s ease-out;
      &:hover {
        filter: grayscale(0);
        transform: scale(1.1);
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      }
    }
  }

  .objectives {
    position: relative;
    margin: 10px 0;
    background: #fff;
    border: 1px solid #ffe347;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    &:hover {
      .input-form .input-icon {
        visibility: visible;
      }
    }

    .input-form {
      background: #ffe347;
      border: none;
      border-bottom: 1px solid #ffe347;
      border-radius: 5px 5px 0 0;
      box-shadow: none;
      transition: all 0.5s ease-out;

      input {
        background: #ffe347;
        transition: all 0.5s ease-out;
        border: 1px solid #ffe347;
        &:focus {
          border: 1px solid #7d7abc;
        }
      }

      .action-button {
        display: none;
      }

      .input-icon {
        visibility: hidden;
        transition: all 0.5s ease-out;
      }
    }

    .key-results {
      margin: 10px;

      .key-result {
        margin: 5px 0;
      }
    }
  }

  .objective-like-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 2px;
    left: -45px;
    padding: 3px;
    border-radius: 50%;
    transition: all 0.5s ease-out;
    &:hover {
      transform: scale(1.1);
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    }

    .icon {
      width: 30px;
      fill: #ccc;
      cursor: pointer;
      transition: all 0.5s ease-out;
      &.objective-like-icon-selected {
        fill: #ffe347;
      }
    }
  }

  .objective-icons {
    position: absolute;
    top: 4px;
    right: -130px;

    .icon {
      width: 34px;
      border-radius: 50%;
      filter: grayscale(.8);
      cursor: pointer;
      transition: all 0.5s ease-out;
      &:hover {
        filter: grayscale(0);
        transform: scale(1.1);
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      }
    }
  }
}
