.okr {
  min-width: 230px;
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .title {
    margin: 10px 0 35px;
  }

  .loading-objectives-waiter {
    position: relative;
    top: 50%;
    transform: translateX(30%) translateY(-50%)
  }

  .empty-objectives {
    margin: 30px 0;
    font-size: 18px;
    color: @grey;

    .icon {
      width: 21px;
      margin-left: 5px;
      vertical-align: sub;
      border-radius: 50%;
      filter: grayscale(.8);
      cursor: pointer;
      transition: all 0.5s ease-out;
      &:hover {
        filter: grayscale(0);
        transform: scale(1.1);
        box-shadow: 1px 1px 3px @darkgrey;
      }
    }
  }

  .objectives {
    position: relative;
    margin: 10px 0;
    background: @white;
    border: 1px solid @rose;
    border-radius: 5px;
    box-shadow: 2px 2px 5px @darkgrey;
    &:hover {
      .input-form .input-icon {
        visibility: visible;
      }
    }

    .objective-title {
      background: @rose;
      border: none;
      border-bottom: 1px solid @rose;
      border-radius: 5px 5px 0 0;
      box-shadow: none;
      transition: all 0.5s ease-out;

      textarea {
        background: @rose;
        transition: all 0.5s ease-out;
        border: 1px solid @rose;
        &:focus {
          border: 1px solid @purple;
        }
      }

      .action-button {
        display: none;
      }

      .input-icon {
        visibility: hidden;
        transition: all 0.5s ease-out;
      }
    }

    .key-results {
      margin: 10px;

      .key-result {
        margin: 5px 0;

        .icon {
          width: 18px;
          float: right;
          cursor: pointer;
        }
      }
    }
  }

  .objective-like-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 2px;
    left: -45px;
    padding: 3px;
    transition: all 0.5s ease-out;
    &:hover {
      transform: scale(1.1);
    }

    .icon {
      width: 30px;
      fill: @grey;
      cursor: pointer;
      transition: all 0.5s ease-out;
      &.objective-like-icon-selected {
        fill: @rose;
      }
    }
  }

  .objective-icons {
    position: absolute;
    top: 4px;
    right: -130px;

    .icon {
      width: 34px;
      cursor: pointer;
      transition: all 0.5s ease-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
