.okr {
  min-width: 230px;
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .title {
    margin: 10px 0 35px;
  }

  .input-icon {
    font-size: 20px;
  }

  .objectives {
    margin: 10px 0;
    background: #fff;
    border: 1px solid #ffe347;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    &:hover {
      .input-form .input-icon {
        visibility: visible;
      }
    }

    .input-form {
      background: #ffe347;
      border: none;
      border-bottom: 1px solid #ffe347;
      border-radius: 5px 5px 0 0;
      box-shadow: none;
      transition: all 0.5s ease-out;
      &:hover,
      &:focus,
      &:focus-within {
        box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
      }

      input {
        background: #ffe347;
        transition: all 0.5s ease-out;
      }

      .input-icon {
        visibility: hidden;
        transition: all 0.5s ease-out;
      }
    }

    .key-results {
      margin: 10px;
    }
  }
}
