.org-tree {
  display: flex;
  flex-direction: column;

  .org-tree-item {
    margin-bottom: 10px;
    padding: 10px;
    background: #c3c2e0;
    line-height: 2em;

    .org-tree-item-links {
      color: grey;
      font-size: 15px;
      text-align: right;
    }
  }
}
