.org-tree {
  display: flex;
  flex-direction: column;

  .org-tree-item {
    min-height: 60px;

    .org-tree-item-links {
      color: grey;
      font-size: 15px;
      text-align: right;
    }
  }
}
