.org-tree {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  .org-tree-item {
    background: darkolivegreen;
    min-height: 60px;
    padding: 10px;
    font-weight: bold;
    color: navajowhite;
    font-size: 20px;
    margin: 5px;

    .org-tree-item-links {
      color: grey;
      font-size: 15px;
      text-align: right;
    }
  }
}
