@white: #fff;
@lightblue: #85afc1;
@blue: #36395d;
@purple: #50394e;
@red: #a13742;
@rose: #c88684;
@yellow: #ecc28b;
@green: #adaa4c;
@lightgrey: #eee;
@grey: #ccc;
@textgrey: #727272;
@darkgrey: #444;

.linkstyle {
  cursor: pointer;
  color: @lightblue;
  fill: @lightblue;
  stroke: @lightblue;
  transition: all 0.5s ease-out;
}

.linkhover {
  color: @purple;
  fill: @purple;
  stroke: @purple;
  font-size: 1.1em;
  transform: scale(1.1);
}
